<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396836003350-saq8adsm6bagbi60c7glpnodq4eet6mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396836003350-saq8adsm6bagbi60c7glpnodq4eet6mo</string>
	<key>API_KEY</key>
	<string>AIzaSyB2_BkaarPCKLRp9DwnfS1JJ1xzvOT-NrE</string>
	<key>GCM_SENDER_ID</key>
	<string>396836003350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jumApp</string>
	<key>PROJECT_ID</key>
	<string>jumapp-7786d</string>
	<key>STORAGE_BUCKET</key>
	<string>jumapp-7786d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396836003350:ios:8ff8a96c733395deaf1f37</string>
</dict>
</plist>